@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


.site {
    max-width: 1680px;
    border: 1px solid;
    margin: 0 auto;
    background: #f6f6f6;

}

.loader-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    z-index: 9999;
}

.loader {
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF3D00;
    letter-spacing: 2px;
    position: relative;
    bottom: 70px;
}

.loader::after {
    content: 'Loading';
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 4s ease-in infinite;
}

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.allert {
    width: 500px;
    height: 300px;
    background: #9cf7b1;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 20%;
    padding: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #FF7010;
    z-index: 1000000;
    display: none;
}

.container {
    padding: 10px 10%;
}

header {
    padding: 10px 0;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: #fff;
}

nav .nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-top p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #191919;
}

.nav-top p select {
    border: none;
    width: 100px;
    padding: 10px;

}

.nav-top p span {
    font-weight: 800;
}

.nav-top p i {
    font-size: 20px;
    color: #FF7010;
}

.nav-time {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-time a i {
    font-size: 20px;
    color: #FF7010;
    padding-right: 10px;
}

.nav-time a {
    color: #191919;
}

.nav-time .my {
    display: none;
    position: relative;
}

/* ====myaccount */

.my-acco {
    width: 285px;
    height: 206px;
    background: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    right: 5%;
    padding: 20px 30px;
    box-shadow: 0 0 10px gray;
    z-index: 1000;
    display: none;
}

.my-acco a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #191919;
    padding-bottom: 10px;
}

.my-acco a:nth-of-type(1) {
    color: #FF7010;
    padding-bottom: 20px;
}

.my-acco a:nth-of-type(4) {
    color: #A5A5A5;
    padding-top: 20px;
}




/* ==line ====================================*/
.line {
    width: 100%;
    height: 1px;
    background: #F0F0F0;
    /* background: #191919;
    opacity: .1; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background: #ffffffb0;
    backdrop-filter: blur(8px);
    z-index: 100;

}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo h3 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}

/* =====items =======================================*/
.items {

    display: flex;
    align-items: center;
    gap: 30px;
    opacity: 0;
    transition: .5s ease-in-out;
    /* display: none; */

}

.items .link-item a {
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.items .link-item a:hover::before {
    width: 100%;
}

.items .link-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

.items .link-item i {
    color: #191919;
    padding-left: 10px;

}

.items .link-item-drug {
    position: relative;
}

/* ===== drugoe=========================*/

.drugoe {
    position: absolute;
    top: 110%;
    left: -80%;
    width: 285px;
    height: 334px;
    border: 1px solid #d7d7d7;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
    z-index: 100;
    display: none;
}

.drugoe li {
    padding: 8px 0;
}

.drugoe li a {
    color: #191919;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.drugoe li a:hover::before {
    width: 100%;
}

.drugoe li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

/* ===== ==========================*/
.navbar .logotip {
    background: #FF7010;
    padding: 8px 16px;
    border-radius: 4px;

}

.navbar .logotip a {
    color: #fff;
    font-size: 16px;
}

.navbar .logotip a span {
    font-size: 18px;
    padding-left: 10px;

}



/* ==== bars ==========================*/

.bars {
    border: none;
    background: none;
    display: none;
}

.bar1 {
    display: block;
    width: 35px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    display: block;
    width: 35px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar3 {
    display: block;
    width: 25px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
}

.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(9px, 3px); */
    transform: rotate(-50deg) translate(-8px, 6px);
    /* transform-origin:top left; */

}

.change .bar2 {
    /* -webkit-transform: rotate(45deg) translate(2px, 2px); */
    transform: rotate(50deg) translate(2px, 2px);
    /* transform-origin: bottom left; */
}

.change .bar3 {
    opacity: 0;
}

/* ===== menu ================================*/

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #F0F0F0;
    background: #FFFFFF;
    display: none;
    z-index: 1000;

}

.menu .user {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: #000000;
    z-index: 1000;
}

.menu .user i {
    font-size: 24px;
    color: #FF7010;
    padding-right: 20px;
}

.menu .my {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: #000000;
    display: none;
    position: relative;
}

.menu .my i {
    font-size: 24px;
    color: #FF7010;
    padding-right: 20px;
}

.menu .my-acco {
    width: 285px;
    height: 206px;
    background: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 5%;
    padding: 20px 30px;
    box-shadow: 0 0 10px gray;
    z-index: 10000;
    /* display: none; */
}

.my-acco a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #191919;
    padding-bottom: 10px;
}

.my-acco a:nth-of-type(1) {
    color: #FF7010;
    padding-bottom: 20px;
}

.my-acco a:nth-of-type(4) {
    color: #A5A5A5;
    padding-top: 20px;
}

.menu .menu-box {
    padding: 20px 30px;
    border: 1px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu .menu-box li a {
    font-size: 16px;
    color: #000000;
    position: relative;
}

.menu .menu-box li a:hover::before {
    width: 100%;

}

.menu .menu-box li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

.menu .menu-info {
    padding: 20px 0;
}

.menu-info p {
    padding: 10px 30px;
    font-size: 16px;
    color: #191919;
}

.menu-info p i {
    font-size: 20px;
    color: #FF7010;
    padding-right: 10px;
}

.menu-info p .fa-instagram {
    padding-left: 20px;
}

.menu span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px 0;
    border-top: 1px solid #F0F0F0;
}

.close {
    display: block;

}

/* ===hero====== ===========================*/

.hero {
    padding: 30px 10%;

}

.hero .hero-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
     overflow-x: scroll;
    scrollbar-width: none; 
}

.hero .hero-menu div {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 135px ;
    min-width: 135px;
}

.hero .hero-menu div:hover img,
.hero .hero-menu div:hover a {
    transform: scale(1.1);
}

.hero .hero-menu .active a {
    color: #E23535;
}

.hero .hero-menu div a {
    display: block;
    font-size: 18px;
    padding-top: 10px;
    color: #000000;
    transition: .3s ease-in-out;
}

.hero .hero-menu div img {
    transition: .3s ease-in-out;
}

.pic-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 0;
    overflow-x: scroll;
    scrollbar-width: none;

}

.pic-menu .pic-box {
    width: 300px;
    height: 343px;
    border-radius: 10px;
    position: relative;
    min-width: 300px;
}

.pic-menu .pic-box img {
    width: 300px;
}

.pic-menu .pic-box p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

/* == account ===============================*/

.about {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #1919193d;
    backdrop-filter: blur(8px);
    z-index: 10000;
    display: none;
    /* opacity: 0; */

}

.about>div {
    margin: 200px auto;
    width: 50%;
    border-radius: 24px;
    background: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}

.about div .fa-xmark {
    position: absolute;
    top: -5%;
    right: -10%;
    font-size: 40px;
    color: #fff;
}

.about div h2 {
    font-size: 32px;
    font-weight: 600;
    color: #191919;
}

.about div h4 {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    text-align: center;
}

.about div span {
    font-size: 14px;
    font-weight: 400;
    color: #A5A5A5;
    text-align: left;
}

.about div input {
    width: 45%;
    height: 48px;
    border-radius: 6px;
    outline-color: dodgerblue;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
}

.about div a {
    display: block;
    width: 45%;
    height: 48px;
    border-radius: 6px;
    background: #FF7010;
    border: none;
    padding: 13px 40px;
    color: #fff;
    text-align: center;
}

.about div p {
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    text-align: center;
    line-height: 18px;
}

.close {
    display: block;
}

.open {
    display: none;
}


/* ===kod ===========================*/

.kod {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #00000098;
    backdrop-filter: blur(8px);
    display: none;
    z-index: 100000;
}


.kod div {
    width: 50%;
    border-radius: 24px;
    background: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin: 200px auto;

}

.kod div .fa-xmark {
    position: absolute;
    top: -5%;
    right: -10%;
    font-size: 40px;
    color: #fff;
}

.kod div h2 {
    font-size: 32px;
    font-weight: 600;
    color: #191919;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}

.kod input {
    min-width: 200px;
    height: 48px;
    border-radius: 6px;
    padding: 10px 18px;
    outline-color: dodgerblue;
    border: 1px solid #e2e2e2;

}

.vhod {
    width: 30%;
    display: block;
    height: 48px;
    border-radius: 6px;
    background: #FF7010;
    border: none;
    padding: 13px 20px;
    color: #fff;
    text-align: center;
}

.kod div p span {
    color: #A5A5A5;
}

.kod .qayta {
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 1px solid #FF7010;
    color: #FF7010;
    font-size: 16px;
    display: none;
}


.products .product1 {
    display: flex;
    gap: 40px;
    margin-top: 15px;

}


.products .products-item {
    width: 360px;
    height: 500px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.products-item .products-item_text {
    padding:   15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.products-item h2 {
    font-size: 20px;
} 

/* .products-item p {
    margin-bottom: 10px;
} */ 

.products-item img {
    width: 310px;

}

.products-item .btn_group {
    display: flex;
    gap: 35px;
}

.products-item .btn_group button {
    padding: 15px 40px;
    border-radius: 7px;
    border: none;
    background: #FF7010;
    color: #F0F0F0;
    margin-bottom: 35px;
    cursor: pointer;
}

.products-item .btn_group h3 {
    margin-top: 10px;
}

.products-item:hover {
    border: 1px solid #FF7010;
}


.footer_top {
    margin-top: 25px;
    width:100%;
    display: flex;
    justify-content: center !important;
}
.wer{
    display: none;
}
.fer{
    display: none;
}
.footer_top h1{
    margin-bottom: 10px;
}
.text_footer{
    width: 50%;
    margin: auto;
}
.text_footer p {
    padding: 1rem 0;
}
.text_footer a{
    font-size: 18px;
}


footer{
    display: flex;
    gap: 100px;
    /* padding-bottom: 200px; */
}

footer .container{
    display: flex;
    gap: 100px;
}

footer .logo_info{
    padding-top: 40px;
    width: 270px;
    height: 220px;
}

footer .logo_info p{
    padding-top: 85px;
}


footer .logo{
    display: flex;
    gap: 7px;
}

footer ul{
    display: flex;
    flex-direction: column;
  row-gap: 12px; 
}

footer ul p{
    font-size: 20px;
    font-weight: 600;
}

footer ul li{
    color: #191919;
    
}

footer ul .links{
    display: flex;
    gap: 8px;
}

footer .info{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}













/* =============================================== */


@media(max-width:1300px) {
    .container {
        padding: 20px 3%;
    }
}



@media(max-width:1100px) {
    .nav-top {
        width: 100%;
        justify-content: space-between;
    }

    .nav-top p:nth-of-type(2) {
        display: none;
    }

    .nav-time {
        display: none;
    }

    .navbar .logotip {
        display: none;
    }

    .items {
        display: none;
    }

    .bars {
        display: block;
        z-index: 1000;
    }

    .hero .hero-menu div {
        display: flex;
        gap: 10px;
    }
    .trt{
        display: none;
    }
    .wer{
        display: block;
        font-size: 22px;
        padding: 2rem 0;
    }   
    .fer{
        display: block;
    }
    .set{
        display: none;
    }
    .text_footer{
        width: 90%;
    }

}



/* ================= */
@media(max-width:900px) {
    .about>div {
        width: 80%;
    }

    .about div input {
        width: 60%;
    }

    .about div a {
        width: 60%;
    }

    .kod div {
        width: 80%;
    }

    .kod input {
        width: 60%;
    }

    .kod .vhod {
        width: 60%;
    }

    .products .product1{
        flex-direction: column;
    }

    .products .product1 .products-item{
        width:100%;
        height:204px;
        display: flex; 
        flex-direction:row !important;
        justify-content: start;
        gap: 0;
    }
    .products-item_text h2{
        font-size: 20px;
    }
    .products-item_text{
        display: flex;
        /* gap: 2rem; */
        flex-direction: column;
    }
    .products-item_text p {
        font-size: 17px;
        padding: .5rem 0;
    }
    .products-item img{
        width: 40%;
        height: auto;
    }
    #brt{
        display: none;
    }
    .btn_group h3{
        padding: .5rem 1.6rem;
        border-radius: 10%;
        background: #FFEEE2;
    }
    footer .container{
        flex-direction: column !important;
        align-items: start;
        gap: 2rem !important;
     }
     .logo_info{
        gap: 2rem !important;
     }
     footer ul{
        flex-direction: column !important;
        align-items: start;
     }
     .info{
        flex-direction: column !important;
        gap: 2rem !important;
     }   
}
@media (max-width:600px){
    .products-item_text p{
        padding: .2rem 0 !important;
        font-size: 15px;
    }
    .products-item_text h2{
        font-size: 17px;
    }
}